# Środowisko wirtualne
venv/
ENV/

# PyCharm / IDE
.idea/
.vscode/
*.swp

# Pliki tymczasowe Pythona
__pycache__/
*.py[cod]

# Systemowe
.DS_Store

#Token Github: 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
